<%
/**
 * Rules
 *
 */
const list = locals.list;

let sortColumnName = locals.sortColumnName || 'Code'
let sortDirection = locals.sortDirection || 'ASC';
let searchColumnName = locals.searchColumnName || 'Code';
let searchValue = locals.searchValue || '';
let totalRows = locals.totalRows;
let page = locals.page || 1;
let pageSize = locals.pageSize;
if (pageSize === undefined) pageSize = totalRows;

function showSortButton(columnName) {
  let button = 'fa-sort';
  let style = 'style="color:#AAAAAA"';
  if (columnName === sortColumnName) {
    style = '';
    if (sortDirection === 'DESC') {
      button = 'fa-sort-down';
    } else {
      button = 'fa-sort-up';
    }
  }
%>
<i class="fas <%=button%> align-middle" <%-style%>></i>
<%
}

%>
<div class="container">
  <!-- <h1><span><i class="fas fa-cog"></i></span>&nbsp;Rules</h1>
  <button type="button" class="btn btn-secondary btn-sm mb-2" onclick="addItem();"><span class="fas fa-cog"></span>&nbsp;Add a Rule</button>&nbsp; -->
  <%
if (list) {
%>
  <form id="searchForm" class="container" action="/tenant/<%-encodeURIComponent(tenantId)%>/ruleAdmin/rules" method="get">
    <div class="form-group row">
      <label class="col-sm-2 col-md-1 form-control-sm" for="searchOn">Search</label>

      <div class="col-sm-2 col-md-3">
        <input id="sortColumnNameField" name="sortColumnName" type="hidden" class="form-control" value="<%=sortColumnName%>">
        <input id="sortDirectionField" name="sortDirection" type="hidden" class="form-control" value="<%=sortDirection%>">
        <input id="pageField" name="page" type="hidden" class="form-control" value="<%=page%>">
        <input id="pageSizeField" name="pageSize" type="hidden" class="form-control" value="<%=pageSize%>">
        <select id="searchColumnNameField" name="searchColumnName" class="form-control form-control-sm">
          <%
const SEARCH_COLUMN_NAMES = ['Code', 'Name'];
SEARCH_COLUMN_NAMES.forEach(item => {    
%>
          <option value="<%=item%>" <%=(item.toLowerCase() === searchColumnName.toLowerCase() ? " selected" : "")%>><%=item%></option>
          <%
});
%>
        </select>
      </div>
      <div class="col-sm-8 col-md-8">
        <input id="searchValueField" name="searchValue" type="text" class="form-control form-control-sm" placeholder="Enter search value" value="<%=searchValue%>">
        <button id="clearBtn" type="button" class="btn btn-secondary btn-sm float-right mt-2"><span class="fas fa-eraser"></span>&nbsp;Clear</button>
        <button id="searchBtn" type="button" class="btn btn-secondary btn-sm float-right mt-2 mr-2"><span class="fas fa-search"></span>&nbsp;Search</button>
      </div>
    </div>
    <div class="form-group row">
    </div>
  </form>

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th id="columnCode" scope="col" class="align-middle cursor-pointer text-nowrap" data-column="code"><span class="align-middle">Code</span><%showSortButton('code')%></th>
        <th id="columnName" scope="col" class="align-middle cursor-pointer" data-column="name"><span class="align-middle">Name</span><%showSortButton('name')%></th>
        <th scope="col" class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% 
    list.forEach(item => { 
      let deleteConfirmName = item.name.replace(/'/g, '&#39').replace(/"/g, '&#34');
%>
      <tr style="cursor: pointer;" onclick="editItem('<%=item.id%>');" title="<%=item.id%>">
        <td><%=item.code%></td>
        <td><%=item.name%></td>
        <td class="text-center"><button type="button" class="btn btn-secondary btn-sm" onclick="deleteItem('<%=item.id%>','<%=deleteConfirmName%>');"><i class="fas fa-trash-alt"></i></button></td>
      </tr>
      <%
    });
%>
    </tbody>
  </table>
  <%
let disablePrevious = (page === 1);
let maxPage = Math.ceil(totalRows / pageSize);
let disableNext = (page >= maxPage);
%>
  <nav aria-label="">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item">
        <div class="page-text">Page <%=page%> of <%=maxPage%></div>
      </li>
      <li class="page-item cursor-pointer">
        <a class="js-page-link page-link" data-page="1" tabindex="-1"><i class="fas fa-step-backward"></i></a>
      </li>
      <li class="page-item <%= disablePrevious ? 'disabled' :'cursor-pointer'%>">
        <a class="js-page-link page-link" data-page="<%=page - 1%>" tabindex="-1"><i class="fas fa-backward"></i></a>
      </li>
      <%
        const pageWindowSize = 10;
        //let pageWindowStart = page + 1;
        let pageWindowEnd = pageWindowSize;
        let pageWindowStart = Math.floor(page - (pageWindowSize / 2));
        if (pageWindowStart < 1) {
          pageWindowStart = 1;
        } else {
          pageWindowEnd = Math.ceil(page + (pageWindowSize/2));
          if (pageWindowEnd > maxPage) {
            pageWindowEnd = maxPage;
            pageWindowStart = pageWindowEnd - pageWindowSize;
            if (pageWindowStart < 1) pageWindowStart = 1;
          }
        }
        if (pageWindowEnd > maxPage) pageWindowEnd = maxPage;

        for(var index = pageWindowStart; index <= pageWindowEnd; index++) {
          if (index <= maxPage) {
%>
      <li class="page-item cursor-pointer">
        <a class="js-page-link page-link" data-page="<%=index%>" tabindex="-1"><%=index%></a>
      </li>
      <%          
          }
        }
%>
      <li class="page-item <%= disableNext ? 'disabled' :'cursor-pointer'%>">
        <a class="js-page-link page-link" data-page="<%=page + 1%>"><i class="fas fa-forward"></i></a>
      </li>
      <li class="page-item cursor-pointer">
        <a class="js-page-link page-link" data-page="<%=maxPage%>"><i class="fas fa-step-forward"></i></a>
      </li>
      <li class="page-item">
        <div class="page-text"><%=totalRows%> row(s)</div>
      </li>
      <li class="page-item">
        <div class="page-text">Page Size:</div>
      </li>
      <select id="pageSizeSelect" name="pageSizeSelect" class="form-control form-control-sm" style="width:100px">
        <option value="<%=5%>" <%=(pageSize === 5) ? " selected" : ""%>>5</option>
        <option value="<%=10%>" <%=(pageSize === 10) ? " selected" : ""%>>10</option>
        <option value="<%=20%>" <%=(pageSize === 20) ? " selected" : ""%>>20</option>
        <option value="<%=50%>" <%=(pageSize === 50) ? " selected" : ""%>>50</option>
        <option value="<%=totalRows%>" <%=(pageSize === totalRows) ? " selected" : ""%>>All (<%=totalRows%>)</option>
      </select>
    </ul>
  </nav>
  <%
} else {
%>
  <div class="row text-center">
    <div class="col-sm-12">There are no items yet. Try adding one.</div>
  </div>
  <%
};
%>
</div>



<%- contentFor('JavaScriptBodyEnd') %>
<script>
  var sortColumnName = '<%=sortColumnName%>';
  var sortDirection = '<%=sortDirection%>';
  const baseUrl = `/tenant/<%=locals.tenantId%>/ruleAdmin/rules`;

  columnCode.addEventListener('click', handleColumnSort);
  columnName.addEventListener('click', handleColumnSort);

  function confirmDialog(title, message, callback) {
    $('#confirmModalTitleText').text(title);
    $('#confirmModalMessageText').text(message);
    $('#confirmModal').modal({
      keyboard: false
    });
    $('#confirmModalYesBtn').click(function() {
      callback(true);
      $('#confirmModal').modal('hide');
    });
    $('#confirmModalNoBtn').click(function() {
      callback(false);
      $('#confirmModal').modal('hide');
    });
  };

  function addItem() {
    event.stopPropagation();
    showSpinner();
    window.location.href = `${baseUrl}/add?returnUrl=${encodeURIComponent(window.location.href.toString().split(window.location.host)[1])}`;
  }

  function editItem(itemKey) {
    showSpinner();
    window.location.href = `${baseUrl}/edit/${encodeURIComponent(itemKey)}?returnUrl=${encodeURIComponent(window.location.href.toString().split(window.location.host)[1])}`;
  }

  function handlePageClick(event) {
    document.getElementById('pageField').value = this.dataset.page;
    showSpinner();
    searchForm.submit();
  }
  let pageElems = document.getElementsByClassName('js-page-link');
  for (var index = 0, max = pageElems.length; index < max; index++) {
    pageElems[index].addEventListener('click', handlePageClick);
  }

  document.getElementById('pageSizeSelect').addEventListener('change', function() {
    document.getElementById('pageSizeField').value = this.value;
    document.getElementById('pageField').value = 1;
    showSpinner();
    searchForm.submit();
  });

  document.getElementById('searchBtn').addEventListener('click', function() {
    document.getElementById('pageField').value = 1;
    showSpinner();
    searchForm.submit();
  });

  document.getElementById('clearBtn').addEventListener('click', function() {
    document.getElementById('searchValueField').value = '';
    document.getElementById('searchValueField').focus();
  });

  function handleColumnSort(event) {
    let clickedName = this.dataset.column;
    if (clickedName === sortColumnName) {
      if (sortDirection === 'DESC') {
        sortDirection = 'ASC';
      } else {
        sortDirection = 'DESC';
      }
    } else {
      sortColumnName = clickedName;
      sortDirection = 'ASC';
    }
    let sortColumnNameField = document.getElementById('sortColumnNameField');
    let sortDirectionField = document.getElementById('sortDirectionField');
    sortColumnNameField.value = sortColumnName;
    sortDirectionField.value = sortDirection;
    showSpinner();
    searchForm.submit();
  }

  function deleteItem(itemKey, desc) {
    event.stopPropagation();
    confirmDialog('Confirm Delete?', `Are you sure you want to delete '${desc}'?`, function(confirmed) {
      if (confirmed) {
        showSpinner();
        window.location.href = `${baseUrl}/delete/${encodeURIComponent(itemKey)}?returnUrl=${encodeURIComponent(window.location.href.toString().split(window.location.host)[1])}`;
      }
    });
  }
</script>

<style>
  .page-text {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  .pagination-sm .page-text {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
</style>